body {
    font-family: 'Playfair Display', serif;
    background-color: #F5E1DA; /* Beige suave */
    color: #5A4F45; /* Marrón elegante */
    text-align: center;
    padding: 20px;
}

header {
    background-color: #EADBC8;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #8C7B6F;
}

button {
    background-color: #C8A98C;
    color: white;
    padding: 10px;
    border: none;
}