/* Contenedor principal del Client Navbar */
.client-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff; /* Fondo blanco */
  color: #333333; /* Texto oscuro */
  padding: 10px 0px; /* ancho y alto del navbar */
  width: 100%;
  position: fixed; /* Fija el navbar en la parte superior */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Sección izquierda: logo */
.client-navbar__left {
  display: flex; 
  align-items: center; /* Centra verticalmente el logo dentro de este div */
}

.client-navbar__logo-img { /* Estilo de la imagen del logo */
  height: 100px; /* Ajusta el tamaño del logo*/
}

/* Sección de navegación a la derecha */
.client-navbar__right {
    display: flex;
    align-items: center;
}

.client-navbar__right .nav-links {
  list-style: none;
  padding: 2%;
  margin: 0;
  display: flex;
  gap: 60px; /* Reduce un poco el espacio entre los enlaces */
}

.client-navbar__right .nav-links li a {
  color: #333333; /* Color oscuro para los enlaces */
  text-decoration: none;
  font-size: 1em; /* Ajusta el tamaño de la fuente de los enlaces */
  font-weight: bold; /* Negrita */
  transition: color 0.3s ease;
}

.client-navbar__right .nav-links li a:hover {
  color: #52210e; /* Color café para el hover */
}

/* Estilos para el ícono del carrito */
.cart-icon-container {
    margin-left: 18px; /* <-- Espacio a la izquierda del carrito, respecto al último link */
    display: flex; /* Para centrar el ícono */
    align-items: center;
    margin-right: 10%;
    cursor: pointer; /* Indica que es clickeable */
    position: relative;
}

.cart-icon {
    height: 45px; /* Ajusta el tamaño del ícono*/
    width: 100%;
    color: #333333; 
    font-size: 1.9em; /* Para Font Awesome */
    transition: color 0.3s ease;
}

.cart-icon:hover {
    color: #52210e; /* Color al pasar el mouse */
}



/* Estilos Responsive*/
@media (max-width: 768px) {
  .client-navbar {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
  }

  .client-navbar__left {
    margin-bottom: 10px;
  }

  .client-navbar__right {
    width: 100%;
    margin: 0;
  }

  .client-navbar__right .nav-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Reduce el espacio entre enlaces en móvil */
  }

  .cart-icon-container {
        margin-left: 0; /* Elimina el margen lateral en móvil */
        margin-top: 10px; /* Añade un pequeño margen superior si es necesario */
    }
}